<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a question</title>
    <style>
      body {
        font-family: "courier new", courier, monospace;
      }
      input,
      button {
        padding: 10px 20px;
      }
    </style>
  </head>
  <body>
    <h1>Edit the question `<%= question.question %>`</h1>
    <form method="POST" action="/hints/edit/<%= question._id %>?_method=PATCH">
      <label for="question">Question:</label>
      <input
        name="question"
        id="question"
        type="text"
        placeholder="Enter the question"
        value="<%= question.question %>"
        required
      />
      <br /><br />
      <label for="answer">Answer:</label>
      <input
        name="answer"
        id="answer"
        type="text"
        placeholder="Enter the answer"
        value="<%= question.answer %>"
        required
      />
      <br /><br />
      <div class="type-container">
        <label>Type:</label>
        <input type="radio" name="type" value="main" id="main" <% if
        (question.type === 'main') { %>checked<% } %> required />
        <label for="main">Main</label>

        <input type="radio" name="type" value="side" id="side" <% if
        (question.type === 'side') { %>checked<% } %> required />
        <label for="side">Side</label>
      </div>
      <br /><br />
      <button type="submit">Edit</button>
      <button type="button" onclick="location.href = '/hints' ">Cancel</button>
    </form>
  </body>
</html>
